*{
    padding: 0;
    margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  box-sizing: border-box;
  user-select: none;

}
body{
    background: #222;
}
.card{
    width: 90%;
    max-width:520px;
    background: linear-gradient(130deg, #C5D89D,#9CAB84,#89986D,#F6F0D7);
    color: #fff;
    padding: 45px 30px;
    margin: 100px auto 0;
    border-radius: 10px;
    text-align: center;
}
.search{
    width: 350x;
    margin: auto;
    height: 60px;
    display: flex;
    position: relative;
}

.search #search-box{
    border-radius: 20px;
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
    padding: 10px;
    font-size: 20px;
    padding-right: 65px;
    outline: none;
    padding-left:20px;
    color: #222;
    font-weight: 5d00;
}

.search #search-box::placeholder{
    color: rgba(0, 0, 0, 0.697);
}
.search button{
    border-radius: 20px;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 400px;

    border: none;
    background-color: inherit;
    /* font-size: 10px; */
}
.search button img{
    height: 40px;
    margin-top: 10px;
}  

.detaile{
    display: flex;
    justify-content: space-between;
    width: 450px;
    margin: auto;
    margin-top: 40px;
}
.col{
    display: flex;
    align-items: center;
    gap: 15px;
}

.humidity, .wind{
    font-size: 30px;
    font-weight: 600;
}
.weather-box{
    display: none;
}
.error{
    font-weight: normal;
    margin-top: 5px;
    float: left;
    margin-left: 30px;
    display: none;

}